<div class="container">
  <div class="container mt-3 p-0">
    <div class="card">
     <div class="card-header">
       <span class="mandatoryField">*</span> Seleccione los campos que tendrá el formulario
     </div>
      <div class="card-body">
        <div>
          <div class="form-check form-check-inline">
            <input (change)="paramsFormCreate($event)" 
              class="form-check-input CBstyle" 
              type="checkbox" 
              id="inlineCheckbox1" 
              value="text">
            <label class="form-check-label" for="inlineCheckbox1">Texto</label>
          </div>
          <div class="form-check form-check-inline">
            <input (change)="paramsFormCreate($event)" 
            class="form-check-input CBstyle" 
            type="checkbox" 
            id="inlineCheckbox2" 
            value="date">
            <label class="form-check-label" for="inlineCheckbox2">Fecha</label>
          </div>
          <div class="form-check form-check-inline">
            <input (change)="paramsFormCreate($event)"
            class="form-check-input CBstyle" 
            type="checkbox" 
            id="inlineCheckbox3" 
            value="range">
            <label class="form-check-label" for="inlineCheckbox3">Rango</label>
          </div>
        </div>
        <div>
          <button 
            class="btn btn-link btn-sm mt-3" 
            id="viewHistory" 
            data-toggle="modal" 
            data-target="#historyModal" >
            Ver historial
          </button>
          <button 
            class="btn btn-primary float-right px-5" 
            id="submitBtn" 
            (click)="createForm($event)">
            Crear
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container p-0 mt-3" *ngIf="this.submit">
    <div class="card-group">
      <app-text (textChanged)="presetValues($event,'texto')" class="card" *ngIf="this.formConfig.text"></app-text>
      <app-date (dateChanged)="presetValues($event,'fecha')" class="card" *ngIf="this.formConfig.date"></app-date>
      <app-range (rangeChanged)="presetValues($event,'cantidad')" class="card" *ngIf="this.formConfig.range"></app-range>

    </div>
    <app-print class="card" [form]="this.newVal" *ngIf="this.print"></app-print>
    <button class="btn btn-danger px-5 mt-2" id="undoBtn" (click)="undo($event)">Volver</button>
    <button class="btn btn-success px-5 mt-2 float-right" id="sendBtn" (click)="send()" *ngIf="!this.print">Enviar</button>
  </div>
  <app-history 
    [historyArray] = "this.history" 
    class="modal fade" 
    id="historyModal" 
    tabindex="-1" 
    role="dialog" 
    aria-hidden="true">
  </app-history>
</div>